<component name="ArtifactManager">
  <artifact type="war" name="springStu:war">
    <output-path>$PROJECT_DIR$/springStu/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springStu</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springStu-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springStu:war exploded" />
    </root>
  </artifact>
</component>